<svg width="0" height="0" viewBox="0 0 0 0">
  <defs>
    <g id="svg-defs">
        <path id="circlePath-1" d="M 75, 75
          m -63, 0 
          a 63,63 0 1,1 126,0
          a 63,63 0 1,1 -126,0"></path>
        <path id="circlePath-2" d="M 75, 75
          m -40, 0
          a 40,40 0 1,0 80,0
          a 40,40 0 1,0 -80,0
          "></path>       
        <clipPath id="circlePath-3">
          <circle cx="75" cy="75" r="30" fill="#FFFFFF" />
        </clipPath>
        <linearGradient id="gradientColor1"  x1="0%" y1="50%" x2="150%" y2="150%">
          <stop offset="0%" stop-color="rgb(255,255,255)" />
          <stop offset="100%" stop-color="rgb(200,200,200)" />
        </linearGradient>
        <filter id="shadow" x="0" y="0" width="130%" height="130%">
          <feOffset result="offOut" in="SourceAlpha" dx="12" dy="12" />
          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="6" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
        <filter id="grayscale">
          <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0
                  0.2126 0.7152 0.0722 0 0
                  0.2126 0.7152 0.0722 0 0
                  0 0 0 1 0"></feColorMatrix>
        </filter>
    </g>
  </defs>
</svg>

<app-family></app-family>
 